<%- include('../includes/head.ejs') %> 
<link rel="stylesheet" href="/public/css/addProduct.css"> 
</head>
<body>
<%- include('../includes/navigation.ejs') %>
    <div class="error-display" >
        <% if(errorMessage) {%> 
            <div class="user-message user-message--error"><%= errorMessage %> </div>
            <% } %> 
    </div>
<main>
    <form class= "login-form" action="/new-password" method="POST">
        <!-- <div class="form-control">
            <label for="email">E-Mail</label>
            <input type="email" name="email" id="email">
        </div> -->
        <div class="form-control">
            <label for="password">Current Password</label>
            <input type="password" name="oldPassword" id="oldPassword">
        </div>
        <div class="form-control">
            <label for="password">New Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="form-control">
            <label for="password">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword">
        </div>
        <div class="button">
            <input type="hidden" name="userId" value="<%= userId %> ">
            <input type="hidden" name="passwordToken" value="<%= passwordToken%> ">
            <button type="submit">Reset Now</button>
        </div>
    </form>
    <!-- <div class="button"> -->
        <!-- <button> -->
            
        <!-- </button> -->
    <!-- </div> -->
</main>
</body>
</html>